# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
.venv*/

# Poetry
.poetry/
# VSCode / IDE stuff
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Kaggle credentials
.kaggle/
kaggle.json

# Data / large files
*.csv
*.tsv
*.xls
*.xlsx
*.json
*.zip
*.tar
*.gz
/data/files